<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="templateApp" ng-controller="templateController">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="any" href="data:;base64,iVBORw0KGgo=">
        <title dg-view-title></title>
        <script type="text/javascript" src="sales-order-payment-generate.js"></script>
        <script type="text/javascript" src="/services/js/resources-core/services/loader.js?id=ide-view-js"></script>
        <link type="text/css" rel="stylesheet" href="/services/js/resources-core/services/loader.js?id=ide-view-css" />
        <theme></theme>
        <link rel="stylesheet"
            href="/services/web/codbex-payment-order-ext/generate/SalesOrderPayment/generate-sales-order-payment.css">
        <script
            src="/services/web/codbex-payment-order-ext/generate/SalesOrderPayment/generate-sales-order-payment-controller.js">
        </script>
    </head>

    <body class="wide-form">
        <div class="dialog" id="dialog" ng-show="showDialog">
            <div class="dialog-content">
                <div class="title">Generate Sales Order Payment</div>
                <div class="line"></div>
                <div class="main-text">
                    <p>Which sales order would you like to attach to this payment?</p>
                </div>
                <fd-scrollbar class="dg-full-height">
                    <fd-fieldset ng-form="forms.details">
                        <fd-form-group name="entityForm" class="fd-container fd-form-layout-grid-container">
                            <fd-form-item ng-repeat="item in SalesOrders">
                                <div class="dialog-select">
                                    <input type="checkbox" ng-model="item.selected" />
                                    <p>{{item.Number}}</p>
                                </div>
                            </fd-form-item>
                            <fd-bar class="dialog-buttons" bar-design="footer" compact="true"
                                ng-show="action !== 'select'">
                                <fd-bar-right>
                                    <fd-bar-element>
                                        <fd-button class="button" dg-label="Generate" dg-type="emphasized"
                                            ng-click="generateSalesOrderPayment()">
                                        </fd-button>
                                    </fd-bar-element>
                                </fd-bar-right>
                            </fd-bar>
                        </fd-form-group>
                    </fd-fieldset>
                </fd-scrollbar>
            </div>
        </div>
    </body>

</html>
